.gradient-text {
  background: -webkit-linear-gradient(45deg, #3a3ef2, #ff5e5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bubble {
  border: 2px black solid;
  border-radius: 18px;
  margin: 5px 10px;
  padding: 3px 10px;
  min-width: fit-content;
}
